{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <br/><br/>
        <h3>User Profile</h3>
        <h5>Username: {{user.username}}</h5>
        <h5>Email: {{user.email}}</h5>
        <div class="pt-3">
           <small class="text-muted">
               Need to update custom profile? <a class="ml-2" href="{% url 'custom-update' %}">Update</a>
          </small>
        </div>
        <br/><br/>
        <h3>Driver Profile</h3>
        <h5>First Name: {{user.first_name}}</h5>
        <h5>Last Name: {{user.last_name}}</h5>
        <h5>Vehicle Type: {{user.vehicle_type}}</h5>
        <h5>License Plate Number: {{user.license_plate_number}}</h5>
        <h5>Max Passenger: {{user.max_passenger}}</h5>
        <h5>Special Information: {{user.special_vehicle_info}}</h5>
        <div class="pt-3">
            <small class="text-muted">
                {% if user.vehicle_type == '' %}
                    Need to register for a driver? <a class="ml-2" href="{% url 'driver-register' %}">Register</a>
                {% else %}
                    Need to update driver profile? <a class="ml-2" href="{% url 'driver-update' %}">Update</a>
                {% endif %}
            </small>
        </div>
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}