{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <form method="POST">
      {% csrf_token %}
      <legend class="border-bottom mb-4">
          Sign up
      </legend>
      {{ form|crispy }}
      <button class="btn btn-outline-primary mt-2" type="submit">Register</button>
  </form>
  <div class="pt-3">
      <small class="text-muted">
          Already have an account? <a class="ml-2" href="{% url 'login' %}">Log in</a>
      </small>
  </div>
</div>
{% endblock content %}

{% block sidebar %}
<h3>Create a new account</h3>
{% endblock sidebar %}